body {
background-color: #F5F5DC;
}

.header, .footer {
width: 100%;
}

.sidebar {
display: none;
}

.tableft {text-align: right; width: 20%;}
.tabmiddle {text-align: left;}
.tabright {text-align: left;}
.errortxt {color: rgb(255, 0, 0); font-style: italic;}

.headleft {text-align: left;}
.headmiddle {text-align: left;}
.headright {text-align: right;}

.centerleft {text-align: right; width: 20%;}
.centermiddle {text-align: left; width: 60%;}
.centerright {text-align: right; width: 20%;}

